<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bbs.user.mapping.bigSection.BbsBigSectionMapper" >
  <resultMap id="BaseResultMap" type="com.bbs.user.bean.BbsBigSection" >
    <id column="BIG_SECTION_ID" property="bigSectionId" jdbcType="VARCHAR" />
    <result column="BIG_SECTION_NAME" property="bigSectionName" jdbcType="VARCHAR" />
    <result column="BIG_SECTION_DESCRIPT" property="bigSectionDescript" jdbcType="VARCHAR" />
    <result column="DEL_FLAG" property="delFlag" jdbcType="VARCHAR" />
    <result column="CJSJ" property="cjsj" jdbcType="DATE" />
    <result column="RES01" property="res01" jdbcType="VARCHAR" />
    <result column="RES02" property="res02" jdbcType="VARCHAR" />
    <result column="RES03" property="res03" jdbcType="VARCHAR" />
    <result column="RES04" property="res04" jdbcType="VARCHAR" />
    <result column="RES05" property="res05" jdbcType="VARCHAR" />
    <result column="RES06" property="res06" jdbcType="DATE" />
  </resultMap>
  <sql id="Base_Column_List" >
    BIG_SECTION_ID, BIG_SECTION_NAME, BIG_SECTION_DESCRIPT, DEL_FLAG, CJSJ, RES01, RES02, 
    RES03, RES04, RES05, RES06
  </sql>
  <select id="selectBigSectionList" resultType="BbsBigSection" >
    select 
    <include refid="Base_Column_List" />
    from T_BBS_BIG_SECTION
    <where>
		    DEL_FLAG=#{delFlag}
		   <if test="bigSectionId != null and bigSectionId != ''">
		    AND  BIG_SECTION_ID = #{bigSectionId}
		   </if>
		   <if test="res01 != null and res01 != ''">
		    AND (BIG_SECTION_ID LIKE '%'||#{res01}||'%' or BIG_SECTION_NAME LIKE '%'||#{res01}||'%' or BIG_SECTION_DESCRIPT LIKE '%'||#{res01}||'%')
		   </if>
	</where>
	<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY CJSJ DESC
			</otherwise>
		</choose>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from T_BBS_BIG_SECTION
    where BIG_SECTION_ID = #{bigSectionId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.bbs.user.bean.BbsBigSection" >
  <selectKey keyProperty="bigSectionId" resultType="String" order="BEFORE"> SELECT my_seq.nextval FROM DUAL</selectKey>
    insert into T_BBS_BIG_SECTION (BIG_SECTION_ID, BIG_SECTION_NAME, BIG_SECTION_DESCRIPT, 
      DEL_FLAG, CJSJ, RES01, 
      RES02, RES03, RES04, 
      RES05, RES06)
    values (#{bigSectionId,jdbcType=VARCHAR}, #{bigSectionName,jdbcType=VARCHAR}, #{bigSectionDescript,jdbcType=VARCHAR}, 
      #{delFlag,jdbcType=VARCHAR}, #{cjsj,jdbcType=DATE}, #{res01,jdbcType=VARCHAR}, 
      #{res02,jdbcType=VARCHAR}, #{res03,jdbcType=VARCHAR}, #{res04,jdbcType=VARCHAR}, 
      #{res05,jdbcType=VARCHAR}, #{res06,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.bbs.user.bean.BbsBigSection" >
    insert into T_BBS_BIG_SECTION
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="bigSectionId != null" >
        BIG_SECTION_ID,
      </if>
      <if test="bigSectionName != null" >
        BIG_SECTION_NAME,
      </if>
      <if test="bigSectionDescript != null" >
        BIG_SECTION_DESCRIPT,
      </if>
      <if test="delFlag != null" >
        DEL_FLAG,
      </if>
      <if test="cjsj != null" >
        CJSJ,
      </if>
      <if test="res01 != null" >
        RES01,
      </if>
      <if test="res02 != null" >
        RES02,
      </if>
      <if test="res03 != null" >
        RES03,
      </if>
      <if test="res04 != null" >
        RES04,
      </if>
      <if test="res05 != null" >
        RES05,
      </if>
      <if test="res06 != null" >
        RES06,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="bigSectionId != null" >
        #{bigSectionId,jdbcType=VARCHAR},
      </if>
      <if test="bigSectionName != null" >
        #{bigSectionName,jdbcType=VARCHAR},
      </if>
      <if test="bigSectionDescript != null" >
        #{bigSectionDescript,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=VARCHAR},
      </if>
      <if test="cjsj != null" >
        #{cjsj,jdbcType=DATE},
      </if>
      <if test="res01 != null" >
        #{res01,jdbcType=VARCHAR},
      </if>
      <if test="res02 != null" >
        #{res02,jdbcType=VARCHAR},
      </if>
      <if test="res03 != null" >
        #{res03,jdbcType=VARCHAR},
      </if>
      <if test="res04 != null" >
        #{res04,jdbcType=VARCHAR},
      </if>
      <if test="res05 != null" >
        #{res05,jdbcType=VARCHAR},
      </if>
      <if test="res06 != null" >
        #{res06,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bbs.user.bean.BbsBigSection" >
    update T_BBS_BIG_SECTION
    <set >
      <if test="bigSectionName != null" >
        BIG_SECTION_NAME = #{bigSectionName,jdbcType=VARCHAR},
      </if>
      <if test="bigSectionDescript != null" >
        BIG_SECTION_DESCRIPT = #{bigSectionDescript,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        DEL_FLAG = #{delFlag,jdbcType=VARCHAR},
      </if>
      <if test="cjsj != null" >
        CJSJ = #{cjsj,jdbcType=DATE},
      </if>
      <if test="res01 != null" >
        RES01 = #{res01,jdbcType=VARCHAR},
      </if>
      <if test="res02 != null" >
        RES02 = #{res02,jdbcType=VARCHAR},
      </if>
      <if test="res03 != null" >
        RES03 = #{res03,jdbcType=VARCHAR},
      </if>
      <if test="res04 != null" >
        RES04 = #{res04,jdbcType=VARCHAR},
      </if>
      <if test="res05 != null" >
        RES05 = #{res05,jdbcType=VARCHAR},
      </if>
      <if test="res06 != null" >
        RES06 = #{res06,jdbcType=DATE},
      </if>
    </set>
    where BIG_SECTION_ID = #{bigSectionId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bbs.user.bean.BbsBigSection" >
    update T_BBS_BIG_SECTION
    set BIG_SECTION_NAME = #{bigSectionName,jdbcType=VARCHAR},
      BIG_SECTION_DESCRIPT = #{bigSectionDescript,jdbcType=VARCHAR},
      DEL_FLAG = #{delFlag,jdbcType=VARCHAR},
      CJSJ = #{cjsj,jdbcType=DATE},
      RES01 = #{res01,jdbcType=VARCHAR},
      RES02 = #{res02,jdbcType=VARCHAR},
      RES03 = #{res03,jdbcType=VARCHAR},
      RES04 = #{res04,jdbcType=VARCHAR},
      RES05 = #{res05,jdbcType=VARCHAR},
      RES06 = #{res06,jdbcType=DATE}
    where BIG_SECTION_ID = #{bigSectionId,jdbcType=VARCHAR}
  </update>
</mapper>